<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後臺管理系統-商家版</title>
    <link rel="stylesheet" href="css/style_admin.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script></head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-infinity" aria-hidden="true"></i></span>
                        <span class="title"><h2>Loop</h2></span>
                    </a>
                </li>
                <li>
                    <a href="backend_admin.html">
                        <span class="icon"><i class="fas fa-users-cog" aria-hidden="true"></i></span>
                        <span class="title">管理員專區</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-shopping-bag" aria-hidden="true"></i></span>
                        <span class="title">商品管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cart-arrow-down" aria-hidden="true"></i></span>
                        <span class="title">訂單管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-comments" aria-hidden="true"></i></span>
                        <span class="title">訊息管理</span>
                     </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="far fa-file-video" aria-hidden="true"></i></span>
                        <span class="title">教學影片管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
                        <span class="title">討論區管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
                        <span class="title">公告與活動管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">    
                        <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                        <span class="title">登出</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"><i class="fas fa-bars"></i></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                    </label>
                </div>
                <div class="user">
                    <img src="image/user.jpg">
                </div>
            </div>

            <div class="userBtn">
                <button class="btn active">資料檢視</button>
                <button class="btn">資料修改</button>
                <button class="btn">密碼修改</button>
            </div>

            <div class="userContainer">
                <table>
                    <tr>
                        <td>帳號Id</td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                    </tr>
                    <tr>
                        <td>性別</td>
                        <td>
                            <input type="radio" name="gender" value="male">男
                            <input type="radio" name="gender" value="female">女
                            <input type="radio" name="gender" value="notProvide">暫不提供
                        </td>
                    </tr>
                    <tr>
                        <td>生日</td>
                        <td><input type="date"></td>
                    </tr>
                    <tr>
                        <td>暱稱</td>
                        <td><input type="text" size="30" name="username"></td>
                    </tr>
                    <tr>
                        <td>電子信箱</td>
                        <td><input type="text" size="30" name="email"></td>
                    </tr>
                    <tr>
                        <td>居住地址</td>
                        <td>
                            <select>
                                <option>台北市</option>
                                <option>新北市</option>
                                <option>台南市</option>
                                <option>台中市</option>
                            </select>
                            <select>
                                <option>台北市</option>
                                <option>新北市</option>
                                <option>台南市</option>
                                <option>台中市</option>
                            </select>
                            <input type="text" name="address">
                        </td>
                    </tr>
                    <tr>
                        <td>更換大頭照</td>
                        <td><input type="image"></td>
                    </tr>
                    <tr>
                        <td>資料修改確認</td>
                        <td>請輸入密碼:
                            <input type="password" name="password">
                        </td>
                        <td>
                            <input type="text" name="check">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="submit"></td>
                        <td><button>清除</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        window.onload(toggleMenu());

        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        
    </script>
</body>
</html>